aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
dataclasses-json
datasets
debugpy
decorator
deep-translator
dill
distro
docopt
edge-tts
executing
faiss-cpu
fastapi
fastjsonschema
ffmpy
filelock
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth
google-cloud-speech
googleapis-common-protos
googletrans
gradio
gradio_client
greenlet
groovy
grpcio
grpcio-status
h11
h2
hpack
hstspreload
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
Js2Py
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupytext
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langchainhub
langsmith
llvmlite
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdit-py-plugins
mdurl
more-itertools
mpmath
multidict
multiprocess
mypy-extensions
narwhals
nbformat
nest-asyncio
networkx
numba
numexpr
numpy
openai
openai-whisper
orjson
packaging
pandas
parso
Pillow
pinecone
pinecone-client
pinecone-notebooks
pinecone-plugin-interface
pipwin
platformdirs
playsound
pluggy
pocketsphinx
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
pyjsparser
PyMuPDF
PyPrind
pySmartDL
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-dotenv
python-multipart
python-utils
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
srt
stack-data
starlette
streamlit
sympy
syrupy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
wcwidth
websockets
xxhash
yarl
yt-dlp
zipp
zstandard
